apiVersion: v1
kind: Service
metadata:
  name: postgres
  labels:
    app: myflaskapp
spec:
  ports:
    - name: headless
      port: 55555
      targetPort: 0
  selector:
    app: myflaskapp
    tier: postgres
  clusterIP: None
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: proddb
  labels:
    app: myflaskapp
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  labels:
    app: myflaskapp
spec:
  selector:
    matchLabels:
      app: myflaskapp
      tier: postgres
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: myflaskapp
        tier: postgres
    spec:
      containers:
      - image: postgres:10.3-alpine
        name: postgres
        env:
        - name: POSTGRES_PASSWORD
          valueFrom: 
            secretKeyRef:
              name: db-password
              key: db_password.txt
        volumeMounts:
        - name: proddb
          mountPath: /var/lib/postgresql/data
      volumes:
      - name: proddb
        persistentVolumeClaim:
          claimName: proddb
